
header h1 {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 50%; 
    transform: translateX(-50%); 
}

header img {
    max-height: 100%;
    max-width: 100%;
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-content: center;
    z-index: 1;
}

main h2{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

main img {
    height: 200px;
    width: 200px;
}